pandas[performance, plot, computation, excel]
nlopt
joblib
polars-lts-cpu
statsmodels
seaborn
fastcluster
statannotations
scikit-learn
biopython
rdkit
scanpy
jupyterlab
ipywidgets
ipympl
streamlit
pygwalker
